.book-cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* min-height: 100vh; */
    min-width: 100vw;
    gap: 3rem;
    justify-content: center;
    margin: 50px 0 50px;
    
}

.home-hero-buttons{
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    height: 4rem;
    transform: translate(10px);
}

.home-hero-buttons button{
    width: 235px;
    margin: 0 0.5rem 0;
    font-size: 2rem;
    font-weight: 600;
    background-color: #f2f2f2;
    border: 0;
    border-bottom: 3px solid rgb(82, 171, 152);
    color: #344055;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.home-hero-buttons>button:hover, .active{
    background-color: rgba(92, 189, 168, 0.5);
}

.active{
    background-color: rgba(92, 189, 168, 0.5) !important;
}