#container{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	height: 250px;
	width: 500px;
    display: flex;
	align-items: center;
}

.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 0 30px 0;
	height: 100%;
	float: left;
	width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	max-height: 240px;
}

#container .product-details h1{
	display: inline-block;
	position: relative;
	font-size: 25px;
	color: #344055;
	margin: 0;
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	display: inline-block;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: #FFF;
	margin: 0;
}

#container .product-details > p {
	font-size: 20px;
	color: #7d7d7d;
}

.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 50%;
	display: inline-block;
}

#container img {
    width: 100%;
    height: 100%;
}

.info {
    background: rgba(27, 26, 26, 0.9);
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {
    text-align: center
}
.product-image:hover .info{
    transform: translateX(0);
}

.info ul{
    height: 250px;
    overflow: auto;
}

.info ul::-webkit-scrollbar{
    display: none;
}
.info ul li{
    transition: 0.3s ease; 
    list-style: none; 
    width: 90%;}

.product-image:hover img {
    transition: all 0.3s ease-out;
    transform: scale(1.2, 1.2);
}

.author-like-btn{
    display: flex;
    justify-content: space-between;
}

.likes-container{
	display: flex;
	gap: 1rem;
	width: 100px;
	align-items: center;
	justify-content: flex-end;
}

.like-btn, .follow-btn {
    transform: scale(1.5, 1.5);
    padding: 0 5px 0;
    background-color: rgb(82, 171, 152);
    transition: all 0.3s ease-out;
    cursor: pointer;
    border-radius: 3px;
}

.like-btn{
	background-color: rgba(255, 255, 255, 0.90) !important;
	border: 0;
	font-size: 1rem;
	transform: scale(1.5, 1.5) translateY(1px);
}

.follow-btn{
	height: fit-content;
}

.like-btn:hover, .follow-btn:hover{
    transform: scale(1.8, 1.8);
}

.like-button-red{
	color: rgb(253, 73, 73);
}

.follow-btn-following{
	background-color: rgb(89, 196, 95) !important;
}
.author-div{
	display: flex;
	justify-content: space-between;
}

.title-genre{
	display: flex;
	flex-direction: column;
}

.card-genre{
	color: rgba(0, 0, 0, 0.8);
}